<manifest package="com.smartdevicelink" xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="12"/>
   	<!-- Required to use the USB Accessory mode -->
    <uses-feature android:name="android.hardware.usb.accessory"/>
   <service android:name="com.smartdevicelink.service.sdlConnection.MessengerService">
      <intent-filter>
      <action android:name="com.smartdevicelink.service.sdlConnection.MessengerService"></action>
      </intent-filter>
    </service> 
</manifest>
